/* --- General --- */
.group {
  display: flex;
  flex-direction: row; /* or column */
}

/* set flex property flex setting to 1 
(declaration sets same width of content in .group container) */

.item {
  flex: 1;
  margin: 10px;
}
/* additional .item-double class set flex value to 2/ when applied with 
.item class, new container will display double the size*/
.item-double {
  flex: 2;
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

h1 {
  margin: 0 0 30px 10px;
}

h2 {
  margin: 0 10px;
  border-bottom: 1px solid gray;
}

h3 {
  margin: 12px 0;
  border-bottom: 1px solid lightgray;
}

/* --- Groups & Items --- */

.group {
}

.item {
}
